
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700,700i,800|Open+Sans:400,400i,600,600i,700,700i,800&display=swap);
/* Typography
================================================== */
.btn:active, .btn:focus {
  box-shadow: none !important;
}

.btn-primary,
.btn-dark {
  border: 0;
  border-radius: 3px;
  padding: 12px 20px 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  transition: 350ms;
  font-size: 14px;
}

@media (max-width: 767px) {
  .btn-primary,
  .btn-dark {
    font-size: 13px;
  }
}

/* Top Bar
================================================== */
.o_header_standard .top-bar {
  padding: 8px 0;
  background: #ebebeb;
  position: relative;
}

/* Top info */
.o_header_standard ul.top-info {
  list-style: none;
  margin: 0;
  padding: 0;
}

.o_header_standard ul.top-info li {
  position: relative;
  line-height: 10px;
  display: inline-block;
  margin-left: 0;
  padding-right: 15px;
}

.o_header_standard ul.top-info li i {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.o_header_standard ul.top-info li p.info-text {
  margin: 0;
  line-height: normal;
  display: inline-block;
  flex-direction: column;
}

/* Top social */
.o_header_standard .top-social .social-icon {
  display: inline-block !important;
}

.top-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: -12px;
}

@media (max-width: 767px) {
  .o_header_standard  .top-social ul {
    margin-right: 0;
  }
}

.o_header_standard  .top-social ul li {
  display: inline-block;
  padding: 0;
}

.o_header_standard .top-social ul li a {
  color: #2c2c2c;
  font-size: 14px;
  transition: 400ms;
  padding: 9px 12px;
}

.o_header_standard .top-social ul li a:hover {
  color:#ffb600;
}

.o_header_standard  .info-box-content a {
  color: #000!important;
}


.o_header_standard ul.navbar-nav > li > a {
  padding: 15px 0 !important;
  color: #fff;
}

@media (max-width: 991px) {
  .o_header_standard ul.navbar-nav > li > a {
    padding: 1px 0 !important;
  }
  .o_header_standard .navbar-nav {
    margin-bottom: 15px;
  }
}

.o_header_standard ul.top-info-box {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

@media (max-width: 767px) {
  ul.top-info-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}

.o_header_standard ul.top-info-box li {
  position: relative;
  float: left;
  margin-left: 0;
  border-right: 1px solid #dedede;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 25px;
  margin-right: 25px;
}

@media (max-width: 767px) {
  .o_header_standard ul.top-info-box li {
    border: 0;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .o_header_standard ul.top-info-box li {
    border: 0;
    text-align: center;
    margin: 0;
    flex: 0 0 100%;
    margin-top: 15px;
  }
}

.o_header_standard ul.top-info-box li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}


.o_header_standard ul.top-info-box li .info-box .info-box-title {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: normal;
}

ul.top-info-box li .info-box .info-box-subtitle {
  margin: 0;
  line-height: normal;
  font-size: 15px;
  font-weight: 700;
  color: #111;
}

/*-- Search start --*/

/* Main navigation */
.o_header_standard .navbar-toggler {
  float: left;
  margin-top: 10px;
  padding: 12px;
}

.o_header_standard .mainn_header .navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.o_header_standard .mainn_header .navbar-toggler {
  margin: 10px 0;
  padding: 6px;
  border-radius: 0;
  font-size: 1rem;
  background: #ffb600;
}

.o_header_standard .mainn_header .navbar-toggler:focus {
  outline: 0;
}

.o_header_standard .mainn_header .navbar-dark .navbar-toggler-icon,
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.o_header_standard ul.navbar-nav > li:hover > a,
ul.navbar-nav > li.active > a {
  color: #ffb600;
  position: relative;
}

.o_header_standard ul.navbar-nav > li {
  padding: 0 13px;
  position: relative;
}

@media (max-width: 1200px) {
  .o_header_standard ul.navbar-nav > li {
    padding: 0 9px;
  }
  
  .o_header_standard ul.navbar-nav > li .nav-link {
    font-size: 12px;
  }
}

.o_header_standard .header-two .navbar-nav > .header-get-a-quote {
  top: -4px;
}

@media (max-width: 991px) {
  .o_header_standard .header-two ul.navbar-nav > li {
    padding: 0;
    width: 100%;
  }
}


ul.navbar-nav > li > a i {
  font-weight: 700;
}

@media (max-width: 991px) {
  .o_header_standard ul.navbar-nav > li > a i {
    float: right;
    background: #222;
    padding: 6px 10px;
    margin-top: 7px;
  }
  .o_header_standard .header-two ul.navbar-nav > li > a i {
    color: #fff;
  }
  .o_header_standard .header-two ul.navbar-nav > li.active > a i,
  .o_header_standard .header-two ul.navbar-nav > li > a.active i {
    color: #ffb600;
  }
}

.o_header_standard ul.navbar-nav > li > a:after,
.o_header_standard ul.navbar-nav > li > a:after {
  display: none;
}

ul.navbar-nav > li > a {
  font-family: "Montserrat", sans-serif;
  color: #fff !important;
  text-rendering: optimizeLegibility;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: -.2px;
  font-size: 14px;
  margin: 0;
  line-height: 40px;
  padding: 30px 0;
  transition: 350ms;
}

.navbar-light ul.navbar-nav > li > a {
  color: #000 !important;
  font-size: 13px;
}

/* Dropdown */
.o_header_standard .dropdown-submenu {
  position: relative;
}

.o_header_standard .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -2px;
  border-radius: 0;
}

.dropdown-submenu > a:after {
  display: block;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  float: right;
  margin-top: 0;
  margin-right: -5px;
  border: 0;
}

.o_header_standard .dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.o_header_standard .dropdown-menu {
  text-align: left;
  background: #fff;
  z-index: 100;
  min-width: 200px;
  border-radius: 0;
  border: 0;
  border-top: 2px solid #ffb600;
  padding: 0 20px;
  margin: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

@media (max-width: 991px) {
  .o_header_standard .dropdown-menu {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  }
}

.o_header_standard .dropdown-menu-large {
  min-width: 400px;
}

.o_header_standard .dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.o_header_standard .dropdown-menu-large > li > ul > li > a {
  padding-left: 0;
}

.o_header_standard .dropdown-menu-large > li > ul > li.active > a {
  color: #ffb600 !important;
}

.o_header_standard .navbar-nav > li > .dropdown-menu a {
  background: none;
}

.o_header_standard .dropdown-menu li a {
  font-family: "Montserrat", sans-serif;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  padding: 15px 0;
  letter-spacing: .3px;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
}

@media (max-width: 991px) {
  .o_header_standard .dropdown-menu li a {
    padding: 12px 0;
  }
}

.o_header_standard .dropdown-menu li:last-child > a {
  border-bottom: 0;
}

.o_header_standard .dropdown-menu li a:hover,
.o_header_standard .dropdown-menu li a:focus {
  color: #ffb600;
}

@media (min-width: 991px) {
  .o_header_standard ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
  }
}

@media (min-width: 991px) {
  .o_header_standard ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    display: none;
  }
  .o_header_standard ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover .dropdown-menu {
    display: block;
  }
}

.o_header_standard .dropdown-menu > .active > a,
.o_header_standard .dropdown-menu > .active > a:hover,
.o_header_standard .dropdown-menu > .active > a:focus,
.o_header_standard .dropdown-menu > .active > .dropdown-menu > .active > a {
  background: none;
  color: #ffb600;
}


.bg-white_ecom_4564654 {
  background: #fff;
}

.site-navigation_ecom_5453 ul#top_menu{
  justify-content: space-between!important;
}
.bg-white_ecom_4564654 .navbar-brand{
  display: contents;
}

@media (min-width:280px) and  (max-width:992px) {
    .bg-white_ecom_4564654 .navbar-brand{
      display: block!important;
    }
    .bg-white_ecom_4564654 .logo{
      text-align: center!important;
      width: auto!important;
    }
    .site-navigation_ecom_5453 ul#top_menu li{
      text-align: center;
    }
}