.s_client_sec {
    margin-bottom: 20px;
    margin-top: 20px;
}

.s_client_sec .swiper-slide img {
    width: 250px;
}

.s_client_sec .tittle_cilent_snippet {
    text-align: center;
    margin-bottom: 20px;
}

.s_client_sec .tittle_cilent_snippet h2 {
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (min-width:1200px) and (max-width:1500px){
    .swiper_client_snippet .swiper-slide {
        width: calc((98%) / 4) !important;
    }
}