.main_header_silder_1 .slider_img_1 {
	background: url(https://images.unsplash.com/photo-1655035080489-521cde5dfc3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
	background-size: cover;
	background-position: center;
	height: 400px;
}
.main_header_silder_1 .slider_img_2 {
	background: url(https://images.unsplash.com/photo-1655025510212-e5e150aa0a61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
	background-size: cover;
	background-position: center;
	height: 400px;
}
.main_header_silder_1 .slider_img_3 {
	background: url(https://images.unsplash.com/photo-1654986966034-8f06a66f280a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
	background-size: cover;
	background-position: center;
	height: 400px;
}
.main_header_silder_1 .slider_1_tittle h3 {
	color: #fff;
	text-align: center;
	font-size: 45px;
}
.main_header_silder_1 .carousel-indicators {
	display: block;
	margin-left: 94%;
	margin-bottom:175px;
}
.main_header_silder_1 .carousel-indicators .active {
	width:50px;
}
.main_header_silder_1 .slider_1_tittle {
	margin-top:140px;
}