  .main_gem_banner_7 {
    color: #fff;
      background: url(https://cutesolution.com/html/crypto/assets/img/home-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 1;
      padding-top: 130px;
      padding-bottom: 40px;
      width: 100%;
      height: 100%;
  }
  .main_gem_banner_7::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      background: #000;
  }
  .main_gem_banner_7 .bn7_content_07 {
    padding-top: 90px;
    text-align: left;
  }
  .main_gem_banner_7 .bn7_content_07 h1 {
    font-size: 45px;
      color: #ffffff; 
      margin-bottom: 10px;
      font-weight: 800;
      line-height: 1.5;
  }
  .main_gem_banner_7 .bn7_content_07 p {
    font-weight:500;
  }
  .main_gem_banner_7 .one_btn_bn7 {
    display: inline-block;
      padding: 10px 35px;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      text-transform: capitalize;
      letter-spacing: 0.3px;
      font-weight: 700;
      border: 0;
      border-radius: 30px;
      background: #6332f0;
      color: #fff;
      margin-top: 25px;
      margin-right: 10px;
      transition: 0.8s;
  }
  .main_gem_banner_7 .one_btn_bn7:hover{
    background: #ff9b08;
    color: white;
    text-decoration: none;
  }
  .main_gem_banner_7 .video_btn_bn_7 {
    color: #fff;
      vertical-align: middle;
      font-size: 15px;
      text-transform: capitalize;
      letter-spacing: 0.3px;
      font-weight: 600;
      margin-top: 25px;
      display: inline-block;
  } 
  .main_gem_banner_7 .video_btn_bn_7:hover{
    text-decoration: none;
    color: #fff;
  }
  .main_gem_banner_7 .video_btn_bn_7 img {
    width: 40px;
    display: inline-block;
    margin-right: 10px;
  }
  .main_gem_banner_7 .img_gem_banner_7 {
    transition: transform 750ms;
  }
  .main_gem_banner_7 .img_gem_banner_7:hover{
    transform: translateY(-15px);
    cursor: pointer;
  }

  @media only screen and (min-width:280px) and (max-width:767px) {
    .main_gem_banner_7 {
      padding: 0px;
    }
    .main_gem_banner_7 .bn7_content_07 {
      padding-top:35px;
    }
    .main_gem_banner_7 .bn7_content_07 h1 {
      font-size:28px;
      font-weight:500;
    }
    .img_gem_banner_7 {
      text-align: center;
    }
    .img_gem_banner_7 img {
      width:80%;
      margin-top: 20px;
    }
    .main_gem_banner_7 .bn7_content_07 {
      text-align: center;
    }
    .home-button-box {
      text-align: center;
    }
  }
  @media only screen and (min-width:768px) and (max-width:992px) {
    .main_gem_banner_7 {
      padding: 0px;
    }
    .img_gem_banner_7 {
      margin-top: 150px;
    }
    .main_gem_banner_7 .bn7_content_07 h1 {
      font-size: 30px;
    }
    .main_gem_banner_7 .bn7_content_07{
      padding-top: 56px;
    }
  }